@default-margin: 15px;
@default-padding: 20px;
#burst {
  margin:0 0 0 -20px;
  #burst-header {
	img {
	  margin-left:@default-margin;
	  width: 120px;
	}
	padding: @default-padding;
	background-color: #fff;
  }

  #burst-content-area {
	margin: @default-margin;
  }
}
