#wp-admin-bar-burst a.ab-item {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
#wp-admin-bar-burst a.ab-item .burst-bullet {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin-right: 10px;
  display: block;
}
.rsssl-yellow {
  background-color: #EFBF4B;
}
.cmplz-blue {
  background-color: #27ADEA;
}
.zip-pink {
  background-color: #E366A1;
}
.burst-green {
  background-color: #22932e;
}
.grey {
  background-color: #ededed;
}
