@import 'variables.less';
#burst-metabox-experiment-settings{
	input[type="text"]{
		width: 100%;
	}
	.burst-label, p.label{
		font-size: 13px;
	    line-height: 1.5;
	    margin: 1em 0;
	    margin-bottom: 0.5em;
	    font-weight: 600;
		label {
		    vertical-align: baseline;
		    font-weight: 600;
		}
	}
	.burst-experiment-settings-info{
		//padding: 10px;
		//border-radius: 5px;

		.burst-experiment-settings-info_container{
			display: flex;
			margin: 6px 0;
			font-size: 12px;
			padding: 5px 7px;
			border-radius: 5px;
			//flex-wrap: wrap;
			&.control{
				background-color: lighten(@rsp-blue, 70%, relative);
				border: 1px solid @rsp-blue;
			}
			&.variant{
				background-color: lighten(@rsp-yellow, 63%, relative);
				border: 1px solid @rsp-yellow;
			}
			a, p{
				width: 100%;
				margin: 0;
			}
			p{
				font-weight: 500;
				font-size: 14px;
			}
		}
		
		h4{
			font-size: 13px;
			margin: 15px 0 6px 0;
		}
		& > :last-child{
			margin-bottom: 0;
		}
	}
	.burst-experiment-save-button{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		.burst-experiment-status{
			margin: 0;
			margin-top: @default-margin;
			background: #f1f1f1;
			font-weight: 600;
			font-size: 13px;
		}
		.button{
			margin-top: @default-margin;
		}
	}
}